amqp==2.2.2
asn1crypto==0.24.0
billiard==3.5.0.3
celery==4.1.0
cryptography==2.1.4
Django==1.10
django-celery-beat==1.1.1
django-celery-results==1.0.1
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
kombu==4.1.0
pycrypto==2.6.1
pygobject==3.26.1
pytz==2018.4
pyxdg==0.25
redis==2.10.6
SecretStorage==2.3.1
six==1.11.0
vine==1.1.4
